body {
  background-color: rgb(84, 84, 84);
  color: white;
  text-align: center;
}

button {
  background-color: black;
  color: white;
}

h1 {
  font-size: 5px;
}

Form {
  padding-top: 100px;
}

div.row {
  text-align: center;
  justify-content: center;
  align-content: space-around;
}