body {
  background-color: rgb(84, 84, 84);
  color: black;
  text-align: center;
}
.app-logo {
  color: rgb(84, 84, 84);
}
#departmentContainer {
  justify-content: space-around;
  background-color: rgb(52, 52, 77);
  border-radius: 0.5rem;
  border-color: darkgray;
  border-width: 5rem;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
}
#addItem {
  margin: 10px;
}
.itemBar {
  color: black;
  border-radius: 0.5em;
  background-color: rgb(142, 142, 142);
}
div.row {
  text-align: left;
  justify-content: center;
  align-items: center;
}
.form-control {
  margin-bottom: 20px;
}
.checkBox {
  padding-left: 20px;
}
.indItem {
  margin: auto;
}
